.view-more-btn {
  padding: 10px 20px;
  background-color: #f41b3b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 10%;
  transition: background-color 0.3s ease;
}
.category-image {
  width: 50px;  /* Adjust width */
  height: 50px; /* Adjust height */
  object-fit: contain; /* Ensures the image maintains aspect ratio */
  border-radius: 50%;
}
